Repository alt-research/mach-avs, pull requests merged in 2024-05, with the labels that each got.

#129 feat: Add proxy api impl for operator
  Makefile
  core/alert/alert.go
  docs/Build.md
  generic-operator-proxy/cmd/main.go
  generic-operator-proxy/rpc_server.go
  go.mod
  go.sum
  operator/jsonrpc_server.go
  operator/operator.go
Labels: feature, XL

#132 feat: Upgrade proxy and add rpc for config
  aggregator/service.go
  core/config/config.go
  generic-operator-proxy/rpc_server.go
  go.mod
  go.sum
  operator/jsonrpc_server.go
Labels: feature, L

#134 feat: proxy support muit avs
  generic-operator-proxy/rpc_server.go
  operator/jsonrpc_server.go
Labels: feature, M

#131 test: admin functions
  contracts/test/AVSDeployer.sol
  contracts/test/BLSAVSDeployer.sol
  contracts/test/MachServiceManager.t.sol
Labels: L

#135 test: cases
  contracts/.gitignore
  contracts/test/MachServiceManager.t.sol
Labels: L

#137 test: confirmAlert & queryMessageHashes
  contracts/test/MachServiceManager.t.sol
Labels: S

#138 feat: support multiple rollup chain IDs
  contracts/src/core/MachServiceManager.sol
  contracts/src/core/MachServiceManagerStorage.sol
  contracts/src/error/Errors.sol
  contracts/src/interfaces/IMachServiceManager.sol
  contracts/test/AVSDeployer.sol
  contracts/test/MachServiceManager.t.sol
Labels: feature, L

#139 test: Operator Registration
  contracts/test/MachServiceManager.t.sol
Labels: S

#140 fix: include rollup chain ID in ReducedAlertHeader
  contracts/src/core/MachServiceManager.sol
  contracts/src/interfaces/IMachServiceManager.sol
  contracts/test/MachServiceManager.t.sol
Labels: bug, M

#141 feat: support chain id in confirmAlert
  generic-operator-proxy/cmd/main.go
  generic-operator-proxy/config.go
  generic-operator-proxy/rpc_server.go
Labels: feature, S

#142 feat: contracts on Holesky testnet
  contracts/script/MachServiceManagerDeployerHolesky.s.sol
  contracts/script/input/parameters.holesky.json
  contracts/script/output/machavs_deploy_output.holesky.json
Labels: feature, L

#143 fix: storage layout for upgrade
  contracts/src/core/MachServiceManagerStorage.sol
Labels: bug, S

#146 feat: fix health check api by test
  core/message/info.go
  generic-operator-proxy/abi.go
  generic-operator-proxy/proxy.go
  generic-operator-proxy/rpc.go
  operator/jsonrpc_server.go
Labels: feature, L

#145 fix: storage slot and gap
  contracts/script/MachServiceManagerDeployerHolesky.s.sol
  contracts/script/output/machavs_deploy_output.holesky.json
  contracts/src/core/MachServiceManagerStorage.sol
  contracts/test/MachServiceManager.t.sol
Labels: bug, M

#147 feat: Cyber Mach AVS
  .gitignore
  README.md
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710935814.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710935821.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710936409.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710936545.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710936554.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710941352.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710941371.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710941737.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710941803.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710941886.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-1710941920.json
  contracts/broadcast/EigenLayerDeployer.s.sol/11155111/run-latest.json
  contracts/broadcast/MachServiceManagerDeployer.s.sol/1/run-1716881689.json
  contracts/broadcast/MachServiceManagerDeployer.s.sol/1/run-latest.json
  contracts/script/deploy.sh
  contracts/script/output/machavs_deploy_output.json
  docs/Deployments.md
Labels: feature, XL

#149 feat: Support health check rpc call in old version
  operator/operator.go
Labels: feature, XS
