Repository alt-research/mach-avs, pull requests merged in 2024-06, with the labels that each got.

#152 feat: batch allowlist
  contracts/src/core/MachServiceManager.sol
  contracts/src/interfaces/IMachServiceManager.sol
  contracts/test/MachServiceManager.t.sol
Labels: feature, M

#153 doc: add dodo deployment
  docs/Deployments.md
Labels: documentation, S

#154 feat: MachServiceManagerRegistry
  contracts/src/core/MachServiceManagerRegistry.sol
  contracts/test/MachServiceManagerRegistry.t.sol
Labels: feature, M

#150 refactor: MachServiceManager and its deploy script
  contracts/script/MachServiceManagerDeployer.s.sol
  contracts/script/MachServiceManagerDeployerHolesky.s.sol
  contracts/script/MachServiceManagerImplDeployer.s.sol
  contracts/script/deploy.sh
  contracts/script/input/parameters.holesky.json
  contracts/script/input/parameters.json
  contracts/src/core/MachServiceManager.sol
  contracts/test/MachServiceManager.t.sol
Labels: M

#155 feat: deregister
  contracts/src/core/MachOptimismZkServiceManager.sol
  contracts/src/core/MachServiceManager.sol
  contracts/src/core/MachServiceManagerRegistry.sol
  contracts/src/error/Errors.sol
  contracts/test/MachServiceManager.t.sol
  contracts/test/MachServiceManagerRegistry.t.sol
Labels: feature, M

#156 feat: totalAlerts legacy
  contracts/src/core/MachServiceManagerRegistry.sol
  contracts/src/interfaces/IMachServiceManager.sol
  contracts/test/MachServiceManagerRegistry.t.sol
Labels: feature, M

#158 feat: Aupport a ext work proof commit interval
  generic-operator-proxy/cmd/main.go
  generic-operator-proxy/config.go
  generic-operator-proxy/proxy.go
Labels: feature, S

#157 feat: deploy script for MachServiceManagerRegistry
  contracts/broadcast/MachServiceManagerRegistryDeployer.s.sol/1/run-1718015297.json
  contracts/broadcast/MachServiceManagerRegistryDeployer.s.sol/17000/run-1718001178.json
  contracts/script/MachServiceManagerRegistryDeployer.s.sol
  contracts/src/core/MachServiceManagerRegistry.sol
  contracts/test/MachServiceManagerRegistry.t.sol
  docs/Deployments.md
Labels: feature, L

#162 docs: Holesky AltLayer Mach AVS service manager
  contracts/broadcast/MachServiceManagerImplDeployer.s.sol/17000/run-1718266302.json
  contracts/broadcast/MachServiceManagerImplDeployer.s.sol/17000/run-latest.json
  docs/Deployments.md
Labels: documentation, M

#163 docs: upgrade service manager on mainnet
  contracts/broadcast/MachServiceManagerImplDeployer.s.sol/1/run-1718678416.json
  contracts/broadcast/MachServiceManagerImplDeployer.s.sol/1/run-latest.json
  docs/Deployments.md
Labels: documentation, M
