Repository alt-research/mach-avs, pull requests merged in 2024-07, with the labels that each got.

#166 docs: Holesky rollup chain ID
  docs/Deployments.md
Labels: documentation, XS

#167 feat: Opt-in cmd support add quorum args
  legacy/cli/actions/register_operator_with_avs.go
  legacy/cli/main.go
  legacy/operator/registration.go
Labels: feature, M

#168 chore: capitalise mach
  docs/Deployments.md
Labels: S, chore
