Repository alt-research/mach-avs, pull requests merged in 2024-04, with the labels that each got.

#124 test: admin functions
  contracts/test/MachServiceManager.t.sol
Labels: M

#126 refactor: make rollup chain id mutable
  contracts/src/core/MachServiceManager.sol
  contracts/src/core/MachServiceManagerStorage.sol
  contracts/src/interfaces/IMachServiceManager.sol
Labels: feature, S

#127 feat: dodo chain avs deployment
  README.md
  contracts/script/DodoServiceManagerDeployer.s.sol
Labels: feature, L

#128 fix: chain id init
  contracts/script/DodoServiceManagerDeployer.s.sol
  contracts/script/MachServiceManagerDeployer.s.sol
  contracts/script/MachServiceManagerImplDeployer.s.sol
  contracts/script/XterioMachServiceManagerDeployer.s.sol
  contracts/src/core/MachServiceManager.sol
  contracts/src/core/MachServiceManagerStorage.sol
  contracts/test/AVSDeployer.sol
Labels: bug, XL
