Repository alt-research/mach-avs, pull requests merged in 2025-04, with the labels that each got.

#186 ci: storage report
  .github/workflows/storage-report.yml
Labels: ci, M

#185 feat: upgrade
  README.md
  contracts/script/MachServiceManagerImplDeployer.s.sol
  contracts/script/input/proxies.json
Labels: documentation, feature, M

#187 chore(deps): use eigensdk-go v0.2.0
  generic-operator-proxy/cmd/main.go
  generic-operator-proxy/proxy.go
  go.mod
  go.sum
  legacy/aggregator/service.go
  legacy/cli/actions/deposit_into_strategy.go
  legacy/cli/actions/deregister_operator_with_avs.go
  legacy/cli/actions/print_operator_status.go
  legacy/cli/actions/register_operator_with_avs.go
  legacy/cli/actions/register_operator_with_eigenlayer.go
  legacy/core/chainio/avs_reader.go
  legacy/core/chainio/avs_subscriber.go
  legacy/core/chainio/avs_writer.go
  legacy/core/chainio/bindings.go
  legacy/core/config/config.go
  legacy/operator/cmd/main.go
  legacy/operator/operator.go
  legacy/operator/registration.go
Labels: S, chore

#188 feat: scan AVS
  README.md
  contracts/Makefile
  docs/Deployments.md
  docs/avs-details/holesky/altlayer.md
  docs/avs-details/mainnet/altlayer.md
  docs/avs-details/mainnet/cyber.md
  docs/avs-details/mainnet/dodochain.md
  docs/avs-details/mainnet/gm-network.md
  docs/avs-details/mainnet/soneium.md
  docs/avs-details/mainnet/xterio.md
  scripts/scan-avs.sh
Labels: feature, XL

#189 fix: remove sender validation in alert confirmation
  contracts/src/core/MachServiceManager.sol
  contracts/test/MachServiceManager.t.sol
Labels: bug, S

#190 fix: fix build error for eigensdk v0.2.0
  .github/workflows/release-aggregator.yml
  .github/workflows/release-operator-proxy.yml
  .github/workflows/release-operator-tool.yml
  .github/workflows/release-operator.yml
  Makefile
  generic-operator-proxy/abi.go
  generic-operator-proxy/cmd/main.go
  generic-operator-proxy/config.go
  generic-operator-proxy/proxy.go
  generic-operator-proxy/rpc.go
  go.mod
  go.sum
  legacy/core/chainio/avs_reader.go
  legacy/core/chainio/avs_writer.go
  legacy/core/config/avs_config.go
  legacy/core/config/config.go
  legacy/operator/operator.go
  ops/aggregator.Dockerfile
  ops/operator-tool.Dockerfile
  ops/operator.Dockerfile
  ops/proxy.Dockerfile
Labels: bug, ci, XL
